var mapzen = mapzen || {};
mapzen.whosonfirst = mapzen.whosonfirst || {};

mapzen.whosonfirst.config = (function(){

	var self = {

		'init': function(){

			mapzen.whosonfirst.data.endpoint("http://localhost:9999/");
			mapzen.whosonfirst.pip.endpoint("http://localhost:8080/");

			// https://mapzen.com/projects/tangram/
			// mapzen.whosonfirst.iamhere.scenefile("");
			
			// https://mapzen.com/projects/pelias/
			// mapzen.whosonfirst.pelias.endpoint("");
			// mapzen.whosonfirst.pelias.apikey("");

			// general debugging
			// mapzen.whosonfirst.log.show();
		}
	};

	return self

})();