@media (max-width: 400px) {

       body {
       	    margin-top:1em;
       }

       #map {
       	    height:225px;
       }

       #wof-log {
       		max-height: 50px;
		font-size:.8em;
       }

       #findme {
       	       padding-right:0px;
	       padding-left:1.5em;
       }


       #whereami-info {
       		      font-size:small !important;
		      padding-left: 0px !important;
		      }		      

      .whereami-controls {
	      text-align:left;
	      margin-left:1em;	
	      margin-right:1em;
      }

      .whereami-search {
      		       text-align:center !important;
      }
}
